@model MFTShop.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "ShowFactor";
}

<h1>فاکتور شماره @Model.Id</h1>

<table class="table table-striped">
    <tr>
        <th>
            <label asp-for="Details.FirstOrDefault().Title" class="control-label"></label>
        </th>
        <th>
            <label asp-for="Details.FirstOrDefault().Price" class="control-label"></label>
        </th>
    </tr>

    @foreach (var item in Model.Details)
    {
        <tr>
            <td>
                <label class="control-label">@item.Title</label>
            </td>
            <td>
                <label class="control-label">@item.Price</label>
            </td>
        </tr>
    }

    <tr>
        <td>
            <label asp-for="TotalPrice" class="control-label"></label>
        </td>
        <td>
            <label class="control-label">@Model.TotalPrice</label>
        </td>
    </tr>

</table>
<a asp-action="CheckOut" class="btn btn-success">پرداخت</a>